body {
  background-color: #484F89;
  color: #333;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; text-decoration:none; }
a:visited { color: #666; text-decoration:none; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#container {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #FFF;
  border: 1px solid #000;
  padding: 1em 1em 1em 1em;
}

#closure {
  text-decoration:none;
  color: #eee;
}

#closure a,#closure a:visited { color: #eee; }

#user_nav {
  float: right;
  font-size: 12px;
}


h1 {
  font-size: 150%;
  font-style: bold;
  margin-bottom: 5px;
}

.flash {
  margin: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
}

#flash_error {
  background-color: #FAA;
}

#flash_warning {
  background-color: #FFA;
}

#flash_notice {
  background-color: #AFA;
}