<% title "Reviewing "+@deck.name %>

<div id="card">
  <div id="question"> </div>
  <div id="answer" style="display:none;"> </div>
  <div id="buttons">
    <span id="soon">Soon</span>
    <span id="hard">Hard</span>
    <span id="good">Good</span>
    <span id="easy">Easy</span>
  </div>
</div>
